* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  display: grid;
  background-color: white;
  padding: 0;
  margin: 0;
  color: #111;
  font-size: 1.2em;
}

body, input {
  font-family: Circular, Helvetica, Arial, sans-serif;;
}

section {
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 100%;
  box-sizing: border-box;
  align-items: stretch;
}

#logo {
  flex: 3;
  background: url(yes.svg) no-repeat center center;
  background-size: contain;
  margin-right: -0.1em;
  color: transparent;
  font-variant: small-caps;
  margin-bottom: 2em;
}

#subhead {
  flex: 1;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 8vw;
  outline: 0;
}
